<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:action="${budget.budgetID == null || budget.budgetID == 0 ? '/budgets/save' : '/budgets/update/' + budget.budgetID}"></title>

    <!-- Bootstrap CSS (Local File) -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom-styles.css" rel="stylesheet">

</head>
<body>
<!-- Include Navbar -->
<div th:include="navbar :: navbar"></div>
<div class="container mt-5">
    <h1 th:text="${budget.budgetID == 0 ? 'Create New Budget' : 'Edit Budget'}" class="mb-4"></h1>

    <form th:action="${budget.budgetID == 0 ? '/budgets/save' : '/budgets/update/' + budget.budgetID}" th:object="${budget}" method="post">
        <div class="mb-3">
            <label for="amount" class="form-label">Amount Allocated</label>
            <input type="number" id="amount" class="form-control" th:field="*{amountAllocated}" placeholder="Enter Amount" required />
        </div>

        <div class="mb-3">
            <label for="startDate" class="form-label">Start Date</label>
            <input type="date" id="startDate" class="form-control" th:field="*{startDate}" required />
        </div>

        <div class="mb-3">
            <label for="endDate" class="form-label">End Date</label>
            <input type="date" id="endDate" class="form-control" th:field="*{endDate}" required />
        </div>

        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select id="category" class="form-control" th:field="*{category}" required>
                <option value="" th:text="'Select Category'"></option>
                <option th:each="category : ${T(com.budgetmanager.budget_manager.model.BudgetCategory).values()}"
                        th:value="${category}" th:text="${category.toString().toLowerCase()}"></option>
            </select>
        </div>


        <button type="submit" href="/budgets/save" class="btn btn-primary">Save Budget</button>
    </form>

    <a href="/budgets" class="btn btn-secondary mt-3">Back to Budget List</a>
</div>

<!-- Bootstrap JS (Local File) -->
<script src="/css/bootstrap.bundle.min.js"></script>
</body>
</html>
