<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reports</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom-styles.css" rel="stylesheet">
</head>
<body>
<div th:include="navbar :: navbar"></div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Reminder :) </h4>
                </div>
                <div class="card-body">
                    <p class="card-text">Please come back at the end of the month to check your financial overview.</p>
                </div>
                <div class="card-footer text-center">
                    <p class="text-muted">Your financial overview will be ready soon!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS (optional) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>